h3 Bookmarks
.row
  .col-xs-5
    h4 Add a Category
    form(novalidate, name='categoryForm', role='form')
      .form-group
        label(for='name') Name
        input.form-control#name(name='name', type='text', ng-model='category.name', required, autofocus)
      button.btn.btn-primary(ng-show='categoryForm.$valid', ng-click='addCategory()') Add Category
  .col-xs-2
  .col-xs-5
    h4 Add a Bookmark
    form(novalidate, name='bookmarkForm', role='form')
      .form-group
        label(for='name') Name
        input.form-control#nameB(name='nameB', type='text', ng-model='bookmark.name', required, autofocus)
      .form-group
        label(for='url') Url
        input.form-control#url(name='url', type='text', ng-model='bookmark.url', required, ng-pattern='/^http/')
      .form-group
        label(for='cat') Category
        select.form-control#cat(ng-model='bookmark.categoryId', name='categoryId', ng-options='c._id as c.name for c in categories', required)
          option(value='') Select Category
      button.btn.btn-primary(ng-show='bookmarkForm.$valid', ng-click='addBookmark()') Add Bookmark
.row
  .col-xs-6
      h4 Categories
        ul
          li(ng-repeat='c in categories') {{c.name}}
   .col-xs-6
      h4 Bookmarks
        ul
          li(ng-repeat='b in bookmarks'): a(href='{{b.url}}') {{b.name}}

