h3 Login
.row
  .col-xs-4
    form(novalidate, name='userForm', role='form')
      .form-group
        label(for='email') Email
        input.form-control#email(name='email', type='email', ng-model='user.email', required)
      .form-group
        label(for='color') Password
        input.form-control#password(name='password', type='password', ng-model='user.password', ng-minlength='3', required)
      .form-group
        button.btn.btn-success(ng-show='userForm.$valid', ng-click='login()') Login

